body {
  background-image: url(img/Untitled-6.jpg);    /* Replace with your actual image path */
  background-position: center center;         /* Center the image */
  background-repeat: no-repeat;               /* Prevent tiling */
  background-size: cover;                     /* Scale image to cover the display */
  background-attachment: fixed;               /* Optional: keep background fixed during scroll */
}
.image-container {
    position: relative;
    width: 100vw;
    padding-top: 100%;
    overflow: hidden;
}
.image-container{
    position: absolute;
    top: 0; left: 0; width: 100%;
    height: 100%;
    object-fit: contain;
}
h1{
    text-align: center;
    font-style: bold;
}
h2{ text-align: center;
    font-style: italic;
    font-family: cursive;
}
